<!-- Name: Jonathan Lee #822937603
     File Name: footer.ejs
     Website Name: 
     Description: handles HTML for the footer
-->

<nav class="navbar navbar-default-bg-primary navbar-fixed-bottom" style="background-color: #0A0101">
  <div class="footer-container">
    <h4 class="navbar-text">&copy; Jonathan Lee | Centennial College</h4> 
  </div>
</nav>

<!-- JAVASCRIPT SECTION -->
    <script src="scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
