<!-- Name: Jonathan Lee #822937603
     File Name: header.ejs
     Website Name: 
     Description: handles HTML for the header
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jonathan Lee | Profile</title>
    
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="scripts/lib/font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/4.3.0/typeit.min.js"></script>
    <script src="jquery.js"></script>
    <script src="typeit.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='content/app.css'media='screen'/>
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
<div class="container">
			<div class="row">
				<div class="header">
					<h1 class="pull-right">Hello, world!</h1>
					<h1 class="pull-left">Jonathan Lee</h1>
					<br><br>
					<h2 class="pull-left">Game Development is my passion!</h2>
				</div>
			</div>
		</div>
    
		<div class="container">
			<div class="row">
			<div class="col-4">
				<ul class="sidemenu">
					<li class="nav-header"><b>MENU</b></li>
					<li ><a href="/">Home</a></li>
					<li><a href="/projects">Projects</a></li>
          <hr>
					<li><a href="/docs">Docs [PDF]</a></li>
				</ul>
			</div>
			<div class="col-8 main-content">