<!--
  Name: Jonathan Lee #822937603
  File Name: about.ejs
  Website Name: https://jonathanleeportfolio.herokuapp.com/
  Description: handles HTML for the about page
-->

<% include ../partials/header.ejs %>


    <!-- MAIN CONTENT -->

    <div class="about-container">
      <div class="row">
        <div class="col-md-offset-0 col-md-10">

          <body>

              <p style="font-size:30px; color:rgb(210,210,210)"><b>HELLO WORLD!</b><p>
              <br>
              <br>

              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators 
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol> -->
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <a name=about href="/projects"><img src="assets/About_DumbLuckStudios.png"></a>
                  </div>
              
                  <div class="item">
                    <a name=project href="/projects"><img src="assets\About_FurVSFlowers.png"></a>
                  </div>
              
                  <div class="item">
                    <a name=project href="/projects"><img src="assets/About_GameJam.png"></a>
                  </div>
              
                  <div class="item">
                    <a name=project href="/projects"><img src="assets/About_AncientScore.png"></a>
                  </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              <br>
              <br>
              <p style="font-size:16px;">
                Welcome to the portfolio of Jonathan Lee! 
                <br>
                I'm a Game Developer, Game Tester and Game Design Writer.
                <br><br>
                I am a Graduate of Centennial College in Toronto with an
                <br>
                Advanced Diploma in Software Engineering Interactive Gaming.
                <br>
                I previously worked at SmokeBomb Entertainment developing
                <br>
                prototype games for interactive hardware using the Unity Game
                <br>
                Engine with C# programming.
                <br>
                I was part of a startup company, Dumb Luck Studios.
                <br>
                We were on track to release our first 2D platforming game
                <br>
                <i>Power Surge</i> before its closure.

                <br><br>
                I am persistant, creative and innovative.
                <br><br>
                I believe I am an asset to any organization.
                You can click on the links in the header to look at my <a href="/projects">projects</a> and <a href="/services">resume.</a>
                I am open to any and all opportunities.
              </p>
          </body>
          <!-- TAB AND PILLS - TAB NAVIGATION
          <ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" href="#life">Life</a></li>
  <li><a data-toggle="pill" href="#school">School</a></li>
  <li><a data-toggle="pill" href="#work">Work</a></li>
</ul>

          <!-- TAB CONTENT - LIFE
<div class="tab-content">
  <div id="life" class="tab-pane fade in active">
    <a name=Toronto href="http://www1.toronto.ca/"><img src="assets/Toronto-Logo-jpeg.jpg"></a>
    <p></p>
    <p>
          My name is Jonathan Lee, born and raised in Toronto, Ontario Canada. I have always had a love of video games
          but my first love was science especially Biology. Nowadays I program games, do web development and generally
          enjoy coding, enjoy creation and gameplay design.
    </p>
  </div>

          <!-- TAB CONTENT - SCHOOL
  <div id="school" class="tab-pane fade">
    <a name=CentennialCollege href="https://www.centennialcollege.ca/"><img src="assets/CentennialCollege_Portfolio_1.jpg"></a>
    <p></p>
    <p>I am a new graduate of Centennial College
      where I studied Software Engineering specializing in Interactive Gaming.
      There I learned various programming languages such as C#, Java, JavaScript and HTML,
      these languages were used with Unity 3D, Visual Studio, Eclipse and Android Studio
      providing me the ability to create 2D/3D games, mobile and enterprise applications
      as well as utilize agile methodologies during these projects.
    </p>
  </div>

          <!-- TAB CONTENT - WORK
  <div id="work" class="tab-pane fade">
    <a name=SmokeBomb href="http://smokebomb.ca/"><img src="assets/Smokebomb.png"></a>
    <p></p>
    <p>
      While pursuing my studies I had the opportunity to work with SmokeBomb Entertainment
      where I used these skills to produce game prototypes for a new peripheral device.
      I learned communication, teamwork, time management, critical thinking and game design creativity.
    </p>
  </div>
</div> -->
    </div>
    </div>
  </div>

<% include ../partials/footer.ejs %>


