<!-- Name: Jonathan Lee #822937603
     File Name: contact.ejs
     Website Name: http://comp308-assignment1.herokuapp.com/
     Description: handles HTML for the contact page
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="contact-container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">

   <!-- CONTACT FORM -->
<form class="form-horizontal">

    <!-- CONTACT FORM - NAME -->
   <div class="form-group">
    <label class="control-label col-sm-2 col-sm-offset-3" for="name">Name:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" placeholder="Enter name">
    </div>
  </div>

    <!-- CONTACT FORM - EMAIL -->
  <div class="form-group">
    <label class="control-label col-sm-2 col-sm-offset-3" for="email">Email:</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
  </div>

    <!-- CONTACT FORM - PHONE -->
   <div class="form-group">
    <label class="control-label col-sm-2 col-sm-offset-3" for="phone">Phone:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
    </div>
  </div>

    <!-- CONTACT FORM - ORGANIZATION -->
  <div class="form-group">
    <label class="control-label col-sm-2 col-sm-offset-3" for="organization">Organization:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="organization" placeholder="Enter organization">
    </div>
  </div>

    <!-- CONTACT FORM - COMMENTS -->
   <div class="form-group">
      <label class="control-label col-sm-2 col-sm-offset-3" for="comments">Comments:</label>
  <textarea class="col-sm-4" rows="5" id="comments"></textarea>
</div>

    <!-- CONTACT FORM - SUBMIT BUTTON -->
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


