<!-- Name: Jonathan Lee #822937603
     File Name: freeCodeCampProjects.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the free code camp projects page
-->

<% include ../partials/header.ejs %>

<div class="webProjects-container">
    <div class="row">
        <div class="col-md-offset-0 col-md-10">

            <p style="font-size:30px; text-align: center;">FREE CODE CAMP PROJECTS</p>

            <div class="webRow">
                <div class="webColumn">
                    <a href=""><img class="FreeCodeCamp_Thumb"
                            src="assets/webProjects_free_code_camp_logo.png" style="float:right;"></a>
                </div>
                <div class="webColumn">
                    <p style="font-size:16px; text-align: left">
                        <b>Jane McGonigal Tribute Page</b>
                        <br>
                        <a href="/tributePage">Jane McGonigal Tribute Page</a>
                        <br>
                        Jane McGonigal Tribute Page as part of the Free Code Camp Curriculum, advanced learning in HTML, CSS, and Jacasvript, starting with the Tribute Page and many more projects to come.
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>