<!-- Name: Jonathan Lee #822937603
     File Name: index.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the homepage page
-->

<% include ../partials/header.ejs %>

<body>
  <div class="index-container">
  <img src="assets/HomePagePowerSurge.gif" width="1135" height="600" alt="DLS Presents: Power Surge">
  <!-- <div class="my-summary">JONATHAN LEE
    <br>
    GAME DEVELOPER
    <br>
    GAME TESTER
    <br>
    TECHNICAL WRITER
  </div> -->
  <div class="home-page-picture-info">
    Gif from Power Surge
  </div>
  </div>
</body>

    <!-- MAIN CONTENT 
    <div class="index-container">
      <div class="row">

        <p style="font-size:29px;"> Software Engineering  <br> Specializing in Gaming </p>
              
              <br>

              <br>

              <p style="font-size:27px;"> Game Developer <br> Smokebomb Entertainment 2015 <br> Game prototype development.</p>
              
              <br>

              <p style="font-size:29px;"> Centennial College
              Software Engineering Technology  <br> Interactive Gaming <br> Toronto, Ontario, Canada (2014-2017) </p>

      </div>
    </div> -->
    
      
<% include ../partials/footer.ejs %>


