<!-- Name: Jonathan Lee #822937603
     File Name: IWantTheBoomBoom.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: I Want The BoomBoom Demo Page
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jonathan Lee | Profile</title>

  <!-- CSS SECTION -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="scripts/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="scripts/lib/font-awesome/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel='stylesheet' href='content/app.css' media='screen' />

  <!--<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
    <script src="TemplateData/UnityProgress.js"></script>  
    <script src="Build/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "Build/WebGL Build.json", {onProgress: UnityProgress});
    </script>-->
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div class="container">
    <div class="row">
      <div class="header">
        <h1 class="pull-left">Jonathan Lee</h1>
        <br><br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <ul class="sidemenu">
        <li class="nav-header"></li>
        <li><a href="/">HOME</a></li>
        <li><a href="/projects">GAME PROJECTS</a></li>
        <li><a href="/webProjects">WEB PROJECTS</a></li>
        <li><a href="/services">RESUME [PDF]</a></li>
        <li class="social-icon"><a href="mailto:jonlee50@hotmail.com"> <i class="fa fa-envelope"></i></a></li>
        <li class="social-icon"><a href="https://twitter.com/CommZerg" target="_blank"> <i class="fa fa-twitter"></i></a></li>
        <li class="social-icon"><a href="https://www.linkedin.com/in/jonathan-lee-015a9231/" target="_blank"> <i class="fa fa-linkedin"></i></a></li>
        <li class="social-icon"><a href="https://github.com/822937603" target="_blank"> <i class="fa fa-github"></i></a></li>
      </ul>
      <!--<div class="col-8 main-content">-->

      <!DOCTYPE html>
      <html lang="en-us">

      <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Unity WebGL Player | I want the BoomBoom</title>
        <link rel="shortcut icon" href="TemplateData/favicon.ico">
        <link rel="stylesheet" href="TemplateData/style.css">
        <script src="/IWantTheBoomBoomWebGL/TemplateData/UnityProgress.js"></script>
        <script src="/IWantTheBoomBoomWebGL/Build/UnityLoader.js"></script>
        <script>
          var gameInstance = UnityLoader.instantiate("gameContainer", "/IWantTheBoomBoomWebGL/Build/IWantTheBoomBoomWebGL.json", { onProgress: UnityProgress });
        </script>
      </head>

      <body>
        <div class="webgl-content" style="top:400px;">
          <!--top:380px; left:190px; width: 960px; height: 600px-->
          <div id="gameContainer" style="width: 1140px; height: 600px;"></div>
          <div class="footer">
            <div class="webgl-logo"></div>
            <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
            <div class="title">I want the BoomBoom</div>
          </div>
        </div>
      </body>

      </html>