<!-- Name: Jonathan Lee #822937603
     File Name: freeCodeCampProjects.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the Human Resource Machine Product Landing Page
-->

<% include ../partials/header.ejs %>

<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<link rel='stylesheet' href='content/productLanding.css' media='screen' />

<header id="header">
    <img id="header-img" src="assets/human_resource_machine_logo_productLandingPage.jpg">
    <nav id="nav-bar">
        <a class="nav-link" href="/about/">About</a>
        <a class="nav-link" href="/download/">Download</a>
        <a class="nav-link" href="/contact/">Contact</a>
    </nav>
</header>

<div id="main">

</div>










<% include ../partials/footer.ejs %>