<!-- Name: Jonathan Lee #822937603
     File Name: freeCodeCampProjects.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the Human Resource Machine Product Landing Page
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jonathan Lee | Profile</title>

  <link rel='stylesheet' href='content/productLanding.css' media='screen' />
</head>

<header id="header">
  <img id="header-img" src="\assets\human_resource_machine_logo_productLandingPage.jpg"
    alt="Human Resource Machine Logo">
  <nav id="nav-bar">
    <a class="nav-link" href="#">about</a>
    <a class="nav-link" href="#">story</a>
    <a class="nav-link" href="#">buy now</a>
  </nav>
</header>

<body id="main">
  <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  <H1 id="tagline">Solve Puzzles With Simple Programming</H1>
</body>