<!-- Name: Jonathan Lee #822937603
     File Name: freeCodeCampProjects.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the Human Resource Machine Product Landing Page
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jonathan Lee | Profile</title>

  <link rel='stylesheet' href='content/productLanding.css' media='screen' />
</head>

<header id="header">
  <img id="header-img" src="\assets\human_resource_machine_logo_productLandingPage.jpg"
    alt="Human Resource Machine Logo">
  <nav id="nav-bar">
    <a class="nav-link" href="#">about</a>
    <a class="nav-link" href="#">story</a>
    <a class="nav-link" href="#">buy now</a>
  </nav>
</header>

<body id="main">
  <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  <H1 id="tagline">Solve Puzzles With Simple Programming</H1>
  <div id="featureProgramming">
    <img id="featureProgramming-img" src="\assets\human_resource_machine_featureProgramming.jpg" alt="Learn Programming Fundamentals">
    <span id="featureProgramming-title"><b>Programming Fundamentals</b>
    </span>
    <p id="featureProgramming-description">
      By solving challenges, 
      you’re priming your brain to learn real programming commands. 
      It’s a clever introduction to the basics.</p>
  </div>

  <div id="featureUserInterface">
      <img id="featureUserInterface-img" src="\assets\human_resource_machine_feature1.jpg" alt="Fun User Interface">
      <span id="featureUserInterface-title"><b>Fun User Interface</b>
      </span>
      <p id="featureUserInterface-description">
        Easy to understand, intitive user interface demonstrates code steps making programming and debugging a snap.</p>
    </div>
</body>