<!-- Name: Jonathan Lee #822937603
     File Name: projects.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the projects page
-->

<% include ../partials/header.ejs %>


<div class="projects-container">
  <div class="row">
    <div class="col-md-offset-0 col-md-10">

      <p align="center" style="font-size:30px;">TOJAM GAME</p>
      <a href="/IWantTheBoomBoom"><img class="TOJam_Thumb" src="assets/TOJam_Thumb.PNG"></a>
      <p style="font-size:16px;">
        <br>
        This is a game we made at TOJam 2018. The theme for TOJam was “Winning is for Losers”. Competing cars bump into each other to keep a bomb and use power ups until the time on the bomb runs out! The car with the bomb at the end will win the game! 
        <br>
        
      </p>
      <br>
      <br>
      <p align="center" style="font-size:30px;">POWER SURGE</p>
      <!--<img class="PowerSurgeThumb" src="assets/PowerSurgeThumb.PNG" width="350" height="250"><img class="DLS_LogoThumbTransparent" src="assets/DLS_LogoThumbTransparent.png" alt="Dumb Luck Studios" width="200" height="218">-->
      <img class="DLS_Logo_PowerSurgeThumb" src="assets\DLS_Logo_PowerSurgeThumbTransparent.png" width="450" height="350" >
      <p style="font-size:16px;">
        <br>
        Power Surge is a game that I produced as part of Dumb Luck Studios, a startup collaboration with my Centennial Colleagues. In Power Surge, your character is an electrode. Your task is to power the house that has been darkened by unknown forces. You will travel along the power lines from appliance to appliance to restore light within themed environments.
        <br>
        
      </p>
      <br>
      <br>
      <p align="center" style="font-size:30px;">JIMS REVENGE HACKATHON</p>
      <img class="About_GameJam" src="assets\About_GameJam.png" width="450" height="350" >
      <p style="font-size:16px;">
        <br>
        Jim’s Revenge was created during a Centennial College Hackathon. The game was based on old dungeon crawlers where players fight though room after room of monsters. The demo provided was a proof of concept with programmer art.
          <br>
          
        </p>
      <br>
      <br>
      <p align="center" style="font-size:30px;">AN ANCIENT SCORE</p>
      <img class="About_AncientScore" src="assets\About_AncientScore.png" width="450" height="350" >
      <p style="font-size:16px;">
        <br>
        This game was one of the first 3D games I made. The objective is to find parts of a crossbow to assemble while avoiding the deadly Knights hot on your trail.
          <br>
          
        </p>
      <br>
      <br>
      <p align="center" style="font-size:30px;">FUZZBALLS ESCAPE</p>
      <img class="About_FurVSFlowers" src="assets\About_FurVSFlowers.png" width="450" height="350" >
      <p style="font-size:16px;">
        <br>
        This is a simple game, the objective is to help the Fuzzball collect coins while avoiding the flies that are trying to catch the Fuzzball.
          <br>
          
        </p>
      <br>
      <br>
      <p align="center" style="font-size:30px;">BREAK THE BLOCKADE</p>
      <img class="BreakTheBlockadeThumb" src="assets\BreakingTheBlockadeThumb.PNG" width="450" height="350" >
      <p style="font-size:16px;">
        <br>
        This is my first game I ever made. This is a naval combat game where the player is trying to get through a missile bombardment with his ship. The player must either dodge or fire his own missiles to deflect enemy fire while picking up as many supply crates as possible.
          <br>
          
        </p>
    </div>
  </div>
</div>
    <!--MAIN CONTENT
    <div class="project-container">
      <div class="row">
        <div class="col-md-offset-3 col-md-5">

           PANELS - JIMS REVENGE
<div class="panel panel-primary" style="max-width:400px;margin-left:auto; margin-right:auto;">
  <div class="panel-heading">Jim's Revenge</div>
  <div class="panel-body">A co op game that originated with a Centennial Game Jam. The premise is 
    utilizing Virtual Reality the player creates a path using tile placements
    for another player that has to traverse the tiles via tablet filled with traps and enemies.
  </div>
</div>
<br>
<a href="/devilsCauseway" target="_blank">DEMO HERE</a>
           PANELS - AN ANCIENT SCORE -->
<!--<div class="panel panel-success" style="max-width:400px;margin-left:auto; margin-right:auto;">
  <div class="panel-heading">An Ancient Score</div>
  <div class="panel-body">A FPS 3D adventure game where you are a traveler searching for the parts
    of a ancient crossbow. Journey across three lands filled with menacing enemies and 
    dreadful terrain.
  </div>
</div>
<br>-->

          <!-- PANELS - RISING HAVOC -->
<!--<div class="panel panel-danger" style="max-width:400px;margin-left:auto; margin-right:auto;">
  <div class="panel-heading">Rising Havoc</div>
  <div class="panel-body">A tile placement puzzle game set in Japan and based on the
    street gangs there.
  </div>
</div>

        </div>
      </div>
    </div>-->

<% include ../partials/footer.ejs %>


