<!-- Name: Jonathan Lee #822937603
     File Name: projects.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the projects page
-->

<% include ../partials/header.ejs %>


<div class="projects-container">
  <div class="row">
    <div class="col-md-offset-0 col-md-10">

      <p style="font-size:30px; text-align: center;">TOJAM GAME</p>
      <a href="/IWantTheBoomBoom"><img class="TOJam_Thumb" src="assets/TOJam_Thumb.PNG"></a>
      <p style="font-size:16px;">
        <br>
        This is a game we made at TOJam 2018. The theme for TOJam was “Winning is for Losers”. Competing cars bump into
        each other to keep a bomb and use power ups until the time on the bomb runs out! The car with the bomb at the
        end will win the game!
        <br>

      </p>
      <br>
      <br>
      <p style="font-size:30px; text-align: center;">POWER SURGE</p>
      <img class="DLS_Logo_PowerSurgeThumb" src="assets\DLS_Logo_PowerSurgeThumbTransparent.png" width="450" height="350">
      <p style="font-size:16px;">
        <br>
        Power Surge is a game that I produced as part of Dumb Luck Studios, a startup collaboration with my Centennial
        Colleagues. In Power Surge, your character is an electrode. Your task is to power the house that has been
        darkened by unknown forces. You will travel along the power lines from appliance to appliance to restore light
        within themed environments.
        <br>

      </p>
      <br>
      <br>
      <p style="font-size:30px; text-align: center;">JIMS REVENGE HACKATHON</p>
      <img class="About_GameJam" src="assets\About_GameJam.png" width="450" height="350">
      <p style="font-size:16px;">
        <br>
        Jim’s Revenge was created during a Centennial College Hackathon. The game was based on old dungeon crawlers
        where players fight though room after room of monsters. The demo provided was a proof of concept with
        programmer art.
        <br>

      </p>
      <br>
      <br>
      <p style="font-size:30px; text-align: center;">AN ANCIENT SCORE</p>
      <img class="About_AncientScore" src="assets\About_AncientScore.png" width="450" height="350">
      <p style="font-size:16px;">
        <br>
        This game was one of the first 3D games I made. The objective is to find parts of a crossbow to assemble while
        avoiding the deadly Knights hot on your trail.
        <br>

      </p>
      <br>
      <br>
      <p style="font-size:30px; text-align: center;">FUZZBALLS ESCAPE</p>
      <img class="About_FurVSFlowers" src="assets\About_FurVSFlowers.png" width="450" height="350">
      <p style="font-size:16px;">
        <br>
        This is a simple game, the objective is to help the Fuzzball collect coins while avoiding the flies that are
        trying to catch the Fuzzball.
        <br>

      </p>
      <br>
      <br>
      <p style="font-size:30px; text-align: center;">BREAK THE BLOCKADE</p>
      <img class="BreakTheBlockadeThumb" src="assets\BreakingTheBlockadeThumb.PNG" width="450" height="350">
      <p style="font-size:16px;">
        <br>
        This is my first game I ever made. This is a naval combat game where the player is trying to get through a
        missile bombardment with his ship. The player must either dodge or fire his own missiles to deflect enemy fire
        while picking up as many supply crates as possible.
        <br>

      </p>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>