<!-- Name: Jonathan Lee #822937603
     File Name: services.ejs
     Website Name: http://comp308-assignment1.herokuapp.com/
     Description: handles HTML for the services page
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="services-container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          
          <!-- JUMBOTRON -->
         <div class="jumbotron-container">
  <div class="jumbotron">
    <h1>GAME DEVELOPMENT</h1>
    <p>I love games! I design! I program! Primarily using Unity3D and the C# Language</p>
  </div>
</div>

        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


