<!-- Name: Jonathan Lee #822937603
     File Name: services.ejs read resume
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the services resume page
-->

<% include ../partials/header.ejs %>

<div class="resume-container">
  <div class="row">
    <div class="col-md-offset-0 col-md-10">

      <p align="center" style="font-size:16px;"><b>Download Full Resume: </b><a href="assets/Jonathan Lee Resume Software General.pdf" download>PDF</a></p>

        <p align="center" style="font-size:30px;">RESUME HIGHLIGHTS</p>
        <p style="font-size:16px;">I am a recent software engineering graduate who specialized 
          in game development, primarily with Unity Game Engine and C#. 
          I am located in Toronto Canada. I am experienced in creating prototype games. 
          I also have experience with creating websites applications utilizing Javascript Node.js, HTML and CSS.
          I look forward to any opportunities to develop my skills within the industry. </p>

          <p align="center" style="font-size:30px;">EDUCATION</p>

        <p style="font-size:16px;"><b>Centennial College</b>, Toronto Ontario Canada (2014-2017)
          <br>
          <b>Advanced Diploma</b>, Software Engineering Technology Interactive Gaming
          <br>

          <p align="center" style="font-size:30px;">EMPLOYMENT HISTORY</p>

          <br>

          <p style="font-size:16px;"><b>EnviroFit Inc</b>, Toronto Ontario Canada (2018)
            <br>
            Web Developer
            <br>
            Developer at a startup.
            <br>
            <li style="font-size:16px; list-style-type:square">Create web design mockups and requirements specification document.</li>
            <li style="font-size:16px; list-style-type:square">Utilize MEAN Stack Framework in conjunction with Visual Studio Code.</li>
            <li style="font-size:16px; list-style-type:square">Program user interaction logic and design with Javascript, HTML and CSS.</li>
            <li style="font-size:16px; list-style-type:square">Will produce dynamic web application from scratch that is visually appealing and user friendly.</li>
            <li style="font-size:16px; list-style-type:square">Will consistently test the application during production resulting in various test case reports.</li>
            <li style="font-size:16px; list-style-type:square">Communicate on a consistent basis with my team and employer on needs and milestones</li>
          </p>

          <br>

          <p style="font-size:16px;"><b>Dumb Luck Studios</b>, Toronto Ontario Canada (2017-2018)
          <br>
          Game Developer
          <br>
          Developer at a startup between colleagues.
          <br>
          <li style="font-size:16px; list-style-type:square">Created full game design document, complete with theme, level design , pixel art, mockups.</li>
          <li style="font-size:16px; list-style-type:square">Developed UI mockups, programmed level and menu selection logic, implemented camera panning.</li>
          <li style="font-size:16px; list-style-type:square">Programmed character movement, collision interactions, enemy and boss movement and firing AI.</li>
          <li style="font-size:16px; list-style-type:square">Produced level art, background art, character, enemy and boss art animations for prototyping.</li>
          <li style="font-size:16px; list-style-type:square">Consistently conducted playthroughs throughout development for balance and bug reporting.</li>
          <li style="font-size:16px; list-style-type:square">Documented bugs and scheduling of duties, maintained records of completed sprints and closed bugs.</li>
        </p>

        <br>

          <p style="font-size:16px;"><b>SmokeBomb Entertainment</b>, Toronto Ontario Canada (2015)
          <br>
          Game Developer
          <br>
          Worked on prototype games for a new peripheral device.
          <br>
          <li style="font-size:16px; list-style-type:square">Conceived various game theme ideas, presentation of ideas to the company.</li>
          <li style="font-size:16px; list-style-type:square">Programmed item selection logic, implemented audio sound cues.</li>
          <li style="font-size:16px; list-style-type:square">Designed UI mockup, developed UI for HUD, menus and pause.</li>
          <li style="font-size:16px; list-style-type:square">Worked closely with company departments to develop art assets and market value.</li>
          <li style="font-size:16px; list-style-type:square">Integrated with a new peripheral device being developed by company engineering.</li>
          <li style="font-size:16px; list-style-type:square">Managed time efficiently to create the best demo possible for investor meeting.</li>
        </p>

        <p align="center" style="font-size:16px;"><b>Download Full Resume: </b><a href="assets/Jonathan Lee Resume.pdf" download>PDF</a></p>

        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


