<!-- Name: Jonathan Lee #822937603
     File Name: services.ejs
     Website Name: http://comp308-assignment1.herokuapp.com/
     Description: handles HTML for the services page
-->

<% include ../partials/header.ejs %>

<div class="about-container">
  <div class="row">
    <div class="col-md-offset-0 col-md-10">

      <p align="center" style="font-size:16px;">Download: <a href="assets/Jonathan Lee Resume.pdf" download>pdf</a></p>

        <p align="center" style="font-size:30px;">PROFILE</p>
        <p style="font-size:16px;">I am a recent software engineering graduate who specialized 
          in game development, primarily with Unity Game Engine and C#. 
          I am located in Toronto Canada. I am experienced in creating prototype games. 
          I look forward to any opportunities to develop my skills within the industry. </p>

          <p align="center" style="font-size:30px;">EMPLOYMENT HISTORY</p>
          <p style="font-size:16px;"><b>SmokeBomb Entertainment</b>, Toronto Ontario Canada (2015)
          <br>
          Game Developer
          <br>
          Worked on prototype games for a new peripheral device.
          <br>
          <li style="font-size:16px; list-style-type:square"><i>Design:</i> Ideation of possible games, created PowerPoint and presented designs, wrote full Game Design Documents iteratively.</li>
          <li style="font-size:16px; list-style-type:square"><i>Gameplay:</i> Programmed game mechanics, wrote UI logic system for accurate and appealing feedback, designed and programmed user input functionality.</li>
        </p>

          <!-- 
    Gameplay: Programmed minigames. Wrote dynamic skills system. Created and iterated on First Time User Experience Onboarding. Used Unity 5’s uGUI to create flexible views.
    Engine: Implemented AI freeplay behaviors, states and goals. Integrated 3rd party libraries (text-to-speech, HockeyApp crash reporting.) Implemented input filtering for accelerometer.
    Tools: Wrote unit tests for asset validation. Extended debug menu to display unified data from multiple sources making it cleaner for QA to use. Created initial Maya exporter.



    <!-- MAIN CONTENT 
    <div class="services-container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          
          <!-- JUMBOTRON 
         <div class="jumbotron-container">
  <div class="jumbotron">
    <h1>GAME DEVELOPMENT</h1>
    <p>I love games! I design! I program! Primarily using Unity3D and the C# Language</p>
  </div>
</div> -->

        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


