<!-- Name: Jonathan Lee #822937603
     File Name: services.ejs read resume
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the services resume page
-->

<% include ../partials/header.ejs %>

<div class="resume-container">
  <div class="row">
    <div class="col-md-offset-0 col-md-10">

      <p align="center" style="font-size:16px;"><b>Download Full Resume: </b><a href="assets/Jonathan Lee Resume Software General.pdf" download>PDF</a></p>

        <p align="center" style="font-size:30px;">RESUME HIGHLIGHTS</p>
        <p style="font-size:16px;">I am a recent software engineering graduate who specialized 
          in game development, primarily with Unity Game Engine and C#. 
          I am located in Toronto Canada. I am experienced in creating prototype games. 
          I also have experience with creating websites applications utilizing Javascript Node.js, HTML and CSS.
          I look forward to any opportunities to develop my skills within the industry. </p>

          <p align="center" style="font-size:30px;">EDUCATION</p>

        <p style="font-size:16px;"><b>Centennial College</b>, Toronto Ontario Canada (2014-2017)
          <br>
          <b>Advanced Diploma</b>, Software Engineering Technology Interactive Gaming
          <br>

          <p align="center" style="font-size:30px;">EMPLOYMENT HISTORY</p>

          <p style="font-size:16px;"><b>Dumb Luck Studios</b>, Toronto Ontario Canada (2017-2018)
          <br>
          Game Developer
          <br>
          Developer at a startup between colleagues.
          <br>
          <li style="font-size:16px; list-style-type:square"><i>Design:</i> Ideation of possible game themes and mechanics, created level and character designs, wrote full Game Design Documents iteratively.</li>
          <li style="font-size:16px; list-style-type:square"><i>Gameplay:</i> Programmed game mechanics, implemented UI logic system for accurate and appealing feedback, designed and programmed user input functionality.</li>
        </p>

        <br>

          <p style="font-size:16px;"><b>SmokeBomb Entertainment</b>, Toronto Ontario Canada (2015)
          <br>
          Game Developer
          <br>
          Worked on prototype games for a new peripheral device.
          <br>
          <li style="font-size:16px; list-style-type:square"><i>Design:</i> Ideation of possible games, created PowerPoint and presented designs, wrote full Game Design Documents iteratively.</li>
          <li style="font-size:16px; list-style-type:square"><i>Gameplay:</i> Programmed game mechanics, wrote UI logic system for accurate and appealing feedback, designed and programmed user input functionality.</li>
        </p>

        <p align="center" style="font-size:16px;"><b>Download Full Resume: </b><a href="assets/Jonathan Lee Resume Software General.pdf" download>PDF</a></p>

        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


