<!-- Name: Jonathan Lee #822937603
     File Name: surveyPage.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the Game  Development Survey Page
-->

<% include ../partials/header.ejs %>

<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<link rel='stylesheet' href='content/gameSurvey.css' media='screen' />

<div id="main">
<h1 id="title">Game Development Survey</h1>
<p id="description">A survey to gain an understanding of respondents gaming habits</p>

<form>
<label id="name-label">Name: </label>
<input id="name" type="text" placeholder="Jonathan Lee">
</form>
<!--http://www.marketest.co.uk/market-research-questionnaire/382/gaming
https://www.bowenresearch.com/samples.htm-->

</div>

<% include ../partials/footer.ejs %>