<!-- Name: Jonathan Lee #822937603
     File Name: tributePage.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the Jane McGonigal Tribute page
-->

<% include ../partials/header.ejs %>

<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<link rel='stylesheet' href='content/janeTribute.css'media='screen'/>

<div id="main">
    <div id="title">
        <h1 id="titleContent"><b>Jane McGonigal Tribute Page</b></h1>
        <h2 id="titleSubContent"><b>“Games make us happy because they are hard work that we choose for ourselves, and it turns out that almost nothing makes us happier than good, hard work.”</b></h2>
    </div>
    <div id="img-div">
        <a target="_blank" href="https://www.youtube.com/watch?v=dE1DuBesGYM"><img id="image"
            src="assets/jane_mcgonigal_tributePage.jpg"></a>
        <p id="img-caption"><b>Jane McGonigal at her "Gaming Can Make A Better World" TED Talk</b></p>
    </div>
    <div id="tribute-info">
        <p> 
            <ul style="list-style-type:square;">
            <li><b>Speaks on games, especially about using them as a means for improving the quality of human life or working towards the solution of social ills.</b></li>
            <li><b>After suffering a concussion, created a game called "SuperBetter" as a way to treat herself.</b></li>
            <li><b>Wrote a book called "Reality Is Broken: Why Games Make us Better and How they Can Change the World."</b></li>
            <li><b>Director of Game Research & Development at Institute for the Future</b></li>
            <li><b>Chief Creative Officer at SuperBetter Labs</b></li>
          </ul> 
          <a id="tribute-link" target="_blank" href="https://janemcgonigal.com/">Read More At Jane McGonigal Here</a>
        </p>
    </div>

</div>

<% include ../partials/footer.ejs %>