<!-- Name: Jonathan Lee #822937603
     File Name: tributePage.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the Jane McGonigal Tribute page
-->

<% include ../partials/header.ejs %>

<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<link rel='stylesheet' href='content/janeTribute.css'media='screen'/>

<div id="main">
    <div id="title">
        <h1 id="titleContent"><b>Jane McGonigal Tribute Page</b></h1>
        <h2 id="titleSubContent"><b>“Games make us happy because they are hard work that we choose for ourselves, and it turns out that almost nothing makes us happier than good, hard work.”</b></h2>
    </div>
    <div id="img-div">

    </div>
    <div id="tribute-info">
        <p>Testing of Jane info</p>
    </div>
</div>

<% include ../partials/footer.ejs %>