<!-- Name: Jonathan Lee #822937603
     File Name: webProjects.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the projects page
-->

<% include ../partials/header.ejs %>


<div class="webProjects-container">
    <div class="row">
        <div class="col-md-offset-0 col-md-10">

            <p style="font-size:30px; text-align: center;">WEB DEVELOPMENT PROJECTS</p>

            <div class="webRow">
                <div class="webColumn">
                    <a href="/freeCodeCampProjects"><img class="FreeCodeCamp_Thumb"
                            src="assets/webProjects_free_code_camp_logo.png" style="float:right;"></a>
                </div>
                <div class="webColumn">
                    <p style="font-size:16px; text-align: left">
                        <b>Free Code Camp Projects</b>
                        <br>
                        <a href="/freeCodeCampProjects">Free Code Camp Projects</a>
                        <br>
                        Projects as part of the Free Code Camp Curriculum, advanced learning in HTML, CSS, and Jacasvript, starting with the Tribute Page and many more projects to come.
                </div>
            </div>

            <div class="webRow">
                <div class="webColumn">
                    <a href="https://comp308-tournamentbracket.herokuapp.com/"><img class="JimsTournamentBracket_Thumb"
                            src="assets/webProjects_jims_tournament_brackets_logo.jpeg" style="float:right;"></a>
                </div>
                <div class="webColumn">
                    <p style="font-size:16px; text-align: left">
                        <b>Jims Tournament Bracket</b>
                        <br>
                        <a href="https://comp308-tournamentbracket.herokuapp.com/">comp308-tournamentbracket.herokuapp.com</a>
                        <br>
                        This site was a final project for Centennial College Emerging Technologies course. The
                        assignment was to create a bracket hosting site that allowed the user to to update the bracket as players won their rounds of play. It was created using MEAN Stack and hosted on Heroku.
                </div>
            </div>

            <div class="webRow">
                <div class="webColumn">
                    <a href="https://mcmaster-game.herokuapp.com/user/login"><img class="McMasterGame_Thumb" src="assets\webProjects_mcmaster_game_logo.PNG"
                            style="float:right;"></a>
                </div>
                <div class="webColumn">
                    <p style="font-size:16px; text-align: left">
                        <b>McMaster Game</b>
                        <br>
                        <a href="https://mcmaster-game.herokuapp.com/user/login">mcmaster-game.herokuapp.com</a>
                        <br>
                        This site was a joint collaboration between Centennial College and McMaster University. We were assigned to create a gamification platform for the McMaster Health Informatics course so that students instead of receiving grades and getting assignments will receive badges and complete quests. It was created using MEAN Stack and hosted on Heroku.
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>