<!-- Name: Jonathan Lee #822937603
     File Name: webProjects.ejs
     Website Name: https://jonathanleeportfolio.herokuapp.com/
     Description: handles HTML for the projects page
-->

<% include ../partials/header.ejs %>


<div class="webProjects-container">
    <div class="row">
        <div class="col-md-offset-0 col-md-10">

            <p style="font-size:30px; text-align: center;">WEB DEVELOPMENT PROJECTS</p>

            <a href="https://comp308-tournamentbracket.herokuapp.com/"><img class="JimsTournamentBracket_Thumb" src="assets/webProjects_jims_tournament_brackets_logo.jpeg"
                    style="float:left; padding-right: 20px"></a>
            <p style="font-size:16px; text-align: left">
                <b>Jims Tournament Bracket</b>
                <br>
                <a href="https://comp308-tournamentbracket.herokuapp.com/">https://comp308-tournamentbracket.herokuapp.com</a>
                <br>
                This site was a final project for Centennial College Emerging Technologies course. The assignment was to create a bracket hosting site that allowed the user to to update the bracket as players won their rounds of play. It was created using MEAN Stack and hosted on Heroku.
                <br>

        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>