/*
  Name: Jonathan Lee #822937603
  File Name: app.cs
  Website Name: https://jonathanleeportfolio.herokuapp.com/
  Description: css formatting for views
*/

/*Font*/
@font-face {
  font-family: 'MainFont';
  src: url('fonts/Fixedsys500c.eot'); /* IE9 Compat Modes */ 
  src: url('fonts/Fixedsys500c.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Fixedsys500c.ttf')  format('truetype'), /* Safari, Android, iOS 
       url('fonts/Fixedsys500c.svg#FixedsysTTF') format('svg'); /* Legacy iOS */
}

body{
  padding: .5%;
  background-color: #0A0101;
  font-family: MainFont, sans-serif;
  font-size: 100%;
}


.header{
  width: 100%;
  background-color: #3333b7;
  color: #fff;
  display: block;
  padding: 1%;
  font-size: 250%;
}

.pull-right{
  float: right;
  font-size: 250%;
}

.pull-left{
  float: left;
  font-size: 170%;
}

.header h1{
  font-size: 2em;
  margin: 0;
  font-size: 250%;
}

.sidemenu{
  display: block;
  width: 100%;
  background-color: rgb(100, 100, 100);
  color: #0A0101;
  border: 1px solid #0A0101;
  list-style-type: none;
    padding-left: .0em;
    overflow: hidden;
}
.sidemenu hr{
  margin: .2em;
  color: #0A0101;
  background-color: #0A0101;
  font-size: 250%;
}

.sidemenu li{
  float: left;
}

.sidemenu li.active a{
  background-color: #00AAAA;
  color: #FDFEF9;
}

.sidemenu a{
  background-color: rgb(100, 100, 100);
  color: #0A0101;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 14px 16px;
  margin: 0;
  font-size: 200%;
}
.sidemenu li a:hover{
  background-color: #0A0101;
  color: #BBBBBB;
  font-size: 200%;
  padding: 14px 16px;
}

.sidemenu li.social-icon{
  float:right;
}

.main-content{
  padding-left: .5em;
  padding-right: .5em;
  background-color: #0A0101;
  color: rgb(187, 187, 187);
}

.main-content h1::before{
  content: '# '
}
.main-content h1{
  color: #fff;
  font-size: 1.5em;
}

.main-content h2{
  border-bottom: 1px solid #fff;
  color: #eee;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 0;
}

.main-content{
  color: rgb(187, 187, 187) !important;
}
.main-content form{
  width: 50%;
  padding-bottom: 1em;
}
.main-content form div{
  display: block;
  padding: .5em;
}
.main-content form input, .main-content form textarea{
  color: #0A0101;
  width: 65%;
  float: right;
  display: block;
}

.footer{
  display: block;
  width: 100%;
}

.nav-header{
  font-size: 250%;
}

.my-summary{
    position: absolute;
    top: 20px;
    left: 560px;
    font-size: 200%;
}

.home-page-picture-info{
  position: absolute;
  bottom: 80px;
  right: 500px;
  font-size: 190%;
}

div.about-container{
    /*background-color: rgb(34, 34, 34);*/
    background-color: #D2D2D2;
    color: #0A0101;
    height: 610px;
    width: 1135px;
    padding-left: 100px;
    padding-top: 40px;
}

div[id='myCarousel']{
  position: absolute;
    top: 50px;
    right: -50px;
    /*right: -60px;*/
    height: 400px;
    width: 400px;
}


.carousel-inner{
  width:100%;
  max-height: 400px !important;
}

.carousel-control.left, .carousel-control.right {
  left: 2;
  z-index: 1;
}

.carousel-indicators li {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: grey;  
}
.carousel-indicators .active {
  background-color: black;
}

div.resume-container{
    /*background-color: rgb(34, 34, 34);*/
    background-color: #D2D2D2;
    color: #0A0101;
    height: 1250px;
    width: 1135px;
    padding-left: 180px;
    padding-top: 40px;
}

div.projects-container{
    /*background-color: rgb(34, 34, 34); rgb 210,210,210*/
    background-color: #D2D2D2;
    color: #0A0101;
    height: 3400px;
    width: 1135px;
    padding-left: 180px;
    padding-top: 40px;
}

div.projects-container a{
  display:inline-block;
  transform: translate(38%, 0%);
}

img.DLS_LogoThumbTransparent {
  vertical-align: text-top;
  margin-left: auto;
  margin-right: auto;
}

img.PowerSurgeThumb {
  vertical-align: text-top;
  margin-left: auto;
  margin-right: auto;
}

img.TOJam_Thumb{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

img.DLS_Logo_PowerSurgeThumb{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.About_GameJam{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.About_AncientScore{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.About_FurVSFlowers{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.BreakTheBlockadeThumb{
  display: block;
  margin-left: auto;
  margin-right: auto;
}