#header{
    background-color: #6D7993;
    width: 100%;
    height: 100%;
}

#main{
    background-color: #6D7993;
    width: 100%;
    height: 100%;
}

#header-img{
    height: 100px;
    width: 100px;
}

#nav-bar{
    float: right;
    padding-top: 3%;
    padding-right: 2%;
    font-size: 20px;
}

.nav-link{
    display: inline-block;
    color: aliceblue;
}

#nav-bar-about{
    padding-right: 100px;
}

#nav-bar-download{
    padding-right: 50px;
}

#nav-bar-contact{
    padding-right: 50px;
}